/* -----------------------------------------------------
  
  By: Luis Suchil
  By: Aldo Aldaco
  By: Chadwick Carreto

-------------------------------------------------------- */
/* -----------------------------------------------------
  Body
-------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    color: #e3e3e3;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #eee;
    /*height: 100%;*/
  }

  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: var(--background)  url("../../img/preload/preload.svg") no-repeat center center;
    }



    :root {
      --blanco: #ffffff;
      --background: #eeeeee;
      --color-principal: #242d32;
      --color-secundario: #50899c;
      --color-secundario-2: #497c8d;
      --color-terciario: #e6e6e6;
      --font-body: 'Poppins', sans-serif;
      scroll-behavior: smooth;
      }
  
  .p-5{
    margin-top: -70px !important;
  }
  
  .modal-title{
    color: var(--color-principal);
    font-size: 1rem;
  }



/*** ALUMNOS CSS ***/
/* ----------- 
HOME SECTION
-------------*/

.home{
	min-height: 40vh;
	padding: 150px 0;
	background: linear-gradient(to bottom, #0b7c80c9 , #01d9ff4b), url("https://images.unsplash.com/photo-1622549037543-49cf1ca0babc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80") center no-repeat;
  background-size: cover;
	border-radius: 0 0 0px 0px;
	position: relative;
	z-index: 1;
	
}

.home-text h1{
  /*padding-top: 10%;*/
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0 0 2%;
	color: #fff;
}

.home-text p{
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: #fff;
	font-weight: 500;
	margin: 0;
}



.home .home-btn01{
	margin-top: 30px;
}

/*Boton de video*/
.home .home-btn01 .video-play-btn{
	margin-left: 10px;
	height: 50px;
	width: 50px;
	padding: 0;
	font-size: 1.5rem;
	animation: pulse_01 2s ease infinite;
}

.home .home-btn01 .video-play-btn:hover{
	animation: none;
}

.home .home-btn01 .video-play-btn i{
	line-height: 30px;
}

.home-img img{
	max-width: 370px;
	width: 100%;
	border-radius: 32px;
	animation: bounceTop_01 3s ease infinite;
}

.home-img{
	position: relative;
}


/* Boton de home */

.btn-1{
	background-color: #8167a9;
	color: #fff;
	padding: 12px 30px;
	border: none;
	border-radius: 30px;
	transition: all 0.5s ease;
	/*-webkit-box-shadow: 0px 7px 22px -11px #000000; 
	box-shadow: 0px 7px 22px -11px #000000;*/
}

.btn-1:hover{
	color: burlywood;
	background-color: #55308a;
  text-decoration: none;
}

/* ------
Video PopUp
--------*/
.video-popup{
	padding: 30px;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background-color: rgba(26, 53, 71, 0.692);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.video-popup.open{
	opacity: 2;
	visibility: visible;
}

.video-popup-inner{
	width: 100%;
	max-width: 900px;
	position: relative;
}

/*Aqui esta la equis de cierre de video*/
.video-popup .video-popup-close{
	position: absolute;
	right: 0;
	top: -30px;
	height: 30px;
	width: 30px;
	/*background-color: #000;*/
	font-size: 2rem;
	text-align: center;
	line-height: 30px;
	cursor: pointer;
	color: #fff;
}

.video-popup .iframe-box{
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
}

.video-popup #player-1{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

/*------------------
Responsive Secciones 
-------------------*/

@media (max-width: 991px){
	.home{
		min-height: 30vh;
		padding: 120px 0;
		/*background: linear-gradient(to bottom, #6c1d45 , #8167a952), url("../img/inicio/sections/home.jpeg") center no-repeat;*/
    background-size: cover;
    border-radius: 0 0 250% 250%/0 0 91% 91%;
		position: relative;
		z-index: 1;
		
	}
}

/*
  .col-md-7{
    padding: 0px;
  }*/


@media (max-width: 767px){
	.home-text{
		margin-bottom: 0px;
	}
}

@media (max-width: 775px){
  .home{
		min-height: 25vh;
		padding: 100px 0;
		/*background: linear-gradient(to bottom, #6c1d45 , #8167a952), url("../img/inicio/sections/home.jpeg") center no-repeat;*/
    background-size: cover;
		position: relative;
		z-index: 1;
		
	}

  .home-text h1{
    padding-top: 10%;
    font-size: 1.7rem;
    font-weight: 700;
    /*margin: 0 0 2%;*/
    color: #fff;
  }

    /*Agregue el margen de 5% pàra que se viera mas centrado*/
    .home-text{
      margin: auto 5%;
  }
	.home-text p{
		font-size: 1rem;
	}
}



/**** ****/


/***SCROLL DOWN****/
.container-scroll{
position: relative;
}

#section10 a {
  padding-top: 70px;
}
#section10 a span {
  position: absolute;
  top: 35px;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}





  /*Tamaño del contenido obtener correo*/
  .alert-heading{
    font-size: 1rem;
  }

  .modal{
    z-index: 9999;
  }
  
  *, *::after, *::before {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }


  .registro{
    position: absolute;
    margin-top: 23px;
    right: 2%;
    z-index: 999;
    display: flex;
  }
  
  a {
    color: #03a9f4;
    outline: none;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.285);
    /*Lo agregue para que se quitara con un tap*/
    z-index: 99;
  }
  
  /* For Typography */
  .ul-base {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* -----------------------------------------------------
  Clearfix
  -------------------------------------------------------- */
  .clearfix {
    *zoom: 1;
  }
  .clearfix::after {
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }
  
  /* -----------------------------------------------------
     Header
  -------------------------------------------------------- */
  header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  header .header-inner {
    width: 100%;
    height: 64px;
    color: #fff;
    padding: 0 20px;
    /* color del nav-bar*/
    background-color: var(--color-principal);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
  }
  header .nav-btn {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    margin: 12px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  header .nav-btn.nav-slider {
    float: left;
  }
  header .nav-btn.search {
    display: none;
    
  }
  header .nav-btn i {
    vertical-align: middle;
  }
  header .header-logo {
    display: inline-block;
    overflow: hidden;
    /*float: left;*/
    padding: 7px;
  }
  header .header-logo img {
    display: block;
    max-height: 50px;
    /*vertical-align: middle;*/
  }
  header .header-categories {
    display: block;
    position: relative;
    float: left;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
  }
  header .header-search {
    float: left;
    display: block;
    position: relative;
    width: calc(100% - 620px);
    height: 64px;
    margin: 0 auto;
    padding: 10px 0;
    border-left: 1px solid rgba(255, 255, 255, 0.157);
    border-right: 1px solid rgba(255, 255, 255, 0.157);
  }
  header .header-search .search {
    display: block;
    position: relative;
    width: calc(100% - 35px);
    margin: 0 auto;
  }
  header .header-search .search i {
    position: absolute;
    top: 8px;
    left: 10px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 28px;
    cursor: pointer;
  }
  header .header-search .search input[type=search] {
    width: 100%;
    height: 44px;
    padding: 0 15px 0 50px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  header .header-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  header .header-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  header .header-menu {
    float: right;
  }
  header .header-menu ul {
    height: 64px;
  }
  header .header-menu ul li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 0 12px;
    line-height: 64px;
  }
  header .header-menu ul li a {
    color: #fff;
    font-size: 17px;
    padding: 4px;
  }
  header .header-menu ul li a:hover {
    opacity: 0.6;
    text-decoration: none;
  }
  @media only screen and (max-width: 1024px) {
    header .header-categories {
      display: none;
    }
    header .header-search {
      width: calc(100% - 440px);
    }
  }
  @media only screen and (max-width: 860px) {
    header .header-search {
      display: none;
    }
    header .header-menu ul li:last-child {
      display: none;
    }
  }
  @media only screen and (max-width: 480px) {
    header .header-inner {
      padding: 0 12px;
      text-align: center;
    }
    header .nav-btn {
      background-color: rgba(0, 0, 0, 0.175);
    }
    header .header-logo {
      float: right;
      padding-left: 0px;
      padding-right: 0px;
    }
    header .header-menu {
      display: none;
    }
  }
  
  /* -----------------------------------------------------
     Nav
  -------------------------------------------------------- */
  nav {
    overflow-y: auto;
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    color: #fff;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: 9999;
  }
  nav .nav-header {
    display: block;
    background-color: var(--color-secundario);
  }
  nav .nav-header .logo-wrap {
    padding: 1.7em 1em;
  }
  nav .nav-header .logo-wrap .logo-icon {
    display: inline-block;
    text-decoration: none;
  }
  nav .nav-header .logo-wrap .logo-icon img {
    display: block;
    border-radius: 50%;
  }
  nav .nav-header .logo-wrap .logo-text {
    display: inline-block;
    color: #fff;
    font-size: 1.2em;
    vertical-align: 12px;
    margin-left: 8px;
    text-decoration: none;
  }
  nav .nav-header .nav-search {
    position: relative;
    height: 40px;
  }
  nav .nav-header .nav-search .search {
    display: block;
    position: relative;
  }
  nav .nav-header .nav-search .search i {
    position: absolute;
    top: 8px;
    right: 0.7em;
    color: rgba(255, 255, 255, 0.6);
    font-size: 24px;
    cursor: pointer;
  }
  nav .nav-header .nav-search .search input[type=search] {
    width: 100%;
    height: 40px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 0 48px 0 20px;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
  nav .nav-header .nav-search .search ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  nav .nav-header .nav-search .search ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-header .nav-search .search :-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-header .nav-search .search :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
  }
  nav .nav-categories li {
    display: block;
    position: relative;
  }
  nav .nav-categories li a {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: #5c5c5c;
    padding: 0.625em 1.3em;
    text-decoration: none;
  }
  nav .nav-categories li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  nav.open {
    left: 0px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.275);
    opacity: 1;
  }
  nav .nav-separator {
    width: 100%;
    height: 1px;
    margin: 7px 0;
    background-color: rgba(0, 0, 0, 0.175);
  }
  nav .nav-link-title {
    display: block;
    color: #3f51b5;
    font-size: 1rem;
    padding: 0.5em 1.3em;
  }
  nav .social {
    display: flex;
    margin: 4px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.155);
    border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  }
  nav .social li {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    flex-direction: row;
    border-right: 1px solid rgba(0, 0, 0, 0.175);
  }
  nav .social li:last-child {
    border-right: 0;
  }
  nav .social li a {
    display: block;
    color: #5c5c5c;
    font-size: 15px;
    padding: 2px;
    text-decoration: none;
  }
  nav .social li a.twitter:hover {
    color: #00baf0;
  }
  nav .social li a.facebook:hover {
    color: var(--color-secundario);
  }
  nav .social li a.google-plus:hover {
    color: #c43c2c;
  }
  nav .social li a.rss:hover {
    color: #ff6600;
  }
  nav .copyright {
    display: block;
    color: #5c5c5c;
    text-align: center;
    padding: 0.5em 0 1em;
  }
  nav .copyright span {
    display: block;
    width: 100%;
    font-size: 11px;
    margin-bottom: 4px;
  }
  
  /* -----------------------------------------------------
     Dropdown Menu
  -------------------------------------------------------- */
  li.dropdown {
    display: inline-block;
    position: relative;
  }
  li.dropdown a {
    display: block;
    height: 64px;
    padding: 0 35px;
    color: #fff;
    font-size: 17px;
    line-height: 64px;
    text-decoration: none;
  }
  li.dropdown a i {
    vertical-align: middle;
  }
  li.dropdown .dropdown-menu {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0px;
    min-width: 240px;
    margin: 2px 0;
    padding: 5px 0;
    text-align: left;
    border-radius: 2px;
    background-color: #e8e8e8;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  li.dropdown .dropdown-menu li {
    display: block;
  }
  li.dropdown .dropdown-menu li a {
    display: block;
    height: 40px;
    font-size: 1em;
    line-height: 40px;
    text-decoration: none;
  }
  li.dropdown.open .dropdown-menu {
    display: block;
  }



  /*** CARDS ****/







/*Carbon*/

/* Carbon */

section{
  margin: 0 auto;
  margin-bottom: 2rem;
}

.carbon {
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
  max-width: 1050px;
  height: 350px;
  background: url('https://i.ibb.co/72cgtsz/carbon.jpg') no-repeat center center/cover;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

@media(max-width: 700px) {


  .carbon .content {
    width: 85%;
  }


}










/* FOOTER */
.site-footer
{
  background-color:var(--color-principal);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:var(--blanco);
}
.site-footer hr
{
  border-top-color:var(--background);
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:var(--color-secundario);
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:var(--color-secundario);
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:var(--color-secundario);
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}





  
  /*======== TEXTO E IMAGEN ===========*/
  
  
  .section .row{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .section .row .col-md-6{
    /*background: #f5f5f5;*/
    margin-right: -2%;
    padding: 5%;
  }
  /*
  .section h3{
    color: #09aca3;
     border-bottom: solid 3px #2726260d;
     font-size: 1.2rem;
     font-weight: 700;
  }
  .section p{
    margin-top: 10%;
    color: #545b62;
    font-size: 1.2rem;
  }
  */
  .section img
  {
    width: 100%;
    border-radius: 10px;
  }
  
  /*===== TERMINA TEXTO E IMAGEN =======*/



  
/* CARDS*/


.container-servicios {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Rubik', sans-serif;
  font-size: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 0px;
}



.card {
  max-width: 320px;
  margin: 10px;
  text-align: center;
  border: 2px solid var(--color-secundario);
  padding-bottom: 35px;
  border-radius: 5px;
  background-color: var(--color-principal);
  color: var(--blanco);
  cursor: default;
  border-radius: 10px;
  transition: background 1.7s ease, color .4s ease;
}

/*
.card:hover {
  transition: background 1.7s ease, color .4s ease;
  background: #ea899a;
  color: #fff;
}
*/
.card:hover .divider {
  border: 1px solid var(--color-secundario);
}


.card:hover .btn-default {
  background: var(--color-secundario-2);
  color: #fff;
}

.card img {
  width: 100px;
  margin: 20px 35%;
}

.card-text {
  padding: 0 15px;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

.divider {
  border: 1px solid var(--background);
  margin: 19px 0;
}

.btn {
  padding: 12px 17px;
  text-decoration: none;
}

.btn-default {
  color: #fff;
  background: var(--color-secundario);
  border: 0px solid #c2c2c246;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
}



/*****  TWERMINAN CARDS  ******/


/**** TITULO ****/

.section-title{
  margin-top: 3rem;
	margin-bottom: 2rem;
}

.section-title h2{
	font-size: 1.5rem;
	color: #a0a0a0;
	font-weight: 700;
	text-align: center;
	margin: 0;
}

.section-title h2 span{
	color: #d2ab67;
  border-bottom: 3px solid #2726260d;;
}


/***** TERMINA TITULO *****/


/*MAPA*/
.map-responsive{

  overflow:hidden;

  padding-bottom:20%;

  position:relative;

  height:0;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 0px;
  width: 90%;
  border: 3px solid  #d2ab6785;
  margin-bottom: 0PX;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}

@media (max-width: 700px) {
  .map-responsive{

    overflow:hidden;
  
    padding-bottom:70%;
  
    position:relative;
  
    height:0;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 10px;
  
  }
}

/* Termina el mapa */
